apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
archiveSize: {{ archive_size }}
{% if ocp_channels %}
mirror:
  platform:
    channels:
{% for channel in ocp_channels %}
      - name: {{ channel.name }}
{% if 'minVersion' in channel %}
        minVersion: {{ channel.minVersion }}
{% endif %}
{% if 'maxVersion' in channel %}
        maxVersion: {{ channel.maxVersion }}
{% endif %}
{% endfor %}
{% endif %}
