kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
archiveSize: {{ archive_size }}
{% if ocp_channel %}
mirror:
  platform:
    channels:
      - name: {{ ocp_channel }}
{% if ocp_version %}
        minVersion: {{ ocp_version }}
        maxVersion: {{ ocp_version }}
{% endif %}
{% endif %}
